.content {
	top:0;
	min-height: 80vh;
	position: relative;
	padding-bottom: 1em;
	h2 {
		margin-left: 10%;
		padding-top: 2em;
	}
	p {
		font-size: 16px;
		padding-top: 10vh;
		margin-left: 10%;
		width: 80%;	
	}
}

#home {
	background: #bbb;
	.first-word{
		font-size: 48px;
	}	
}

#projects {
	background: #fa7f00;
	.grid {
		width: 80%;
		margin: 0 auto;
		img {
			height: 200px;
			width: 300px;
			margin-top: 1em;
		}
	}
}

#about {
	background: #d20000;
}

#contact {
	height: 80vh;
	background: #a2a2a2;
}