body, .content p {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	font-family: 'Roboto Slab', serif;
}

header {
	height: 20vh;
	position: fixed;
	background: $light-grey;
	width: 100%;
	z-index: 2000;
}

main {
	position: absolute;
	top: 20%;
	width: 100%;
	background: $off-white;
}

footer {
	height: 10vh;
	position: fixed;
	bottom: 0;
	width: 100%;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}