.logo img {
	position: fixed;
	width: 80px;
	left: 10px;
	top: 10px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
  	transition: transform .8s ease-in-out;
}
.logo img:hover {
	-webkit-transform: rotate(90deg);
  	transform: rotate(90deg);
}

.nav {
	ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		li {
			text-decoration: none;
			list-style: none;
			padding: 0.5em 1em 0.5em 1em;
			a {
				text-decoration: none;
				color: #000;
			}
		}
		.about_butt {
			border-left: 2px solid #000;
			border-right: 2px solid #000;
		}
	}
}