@media screen and (min-width: 724px){
	.content {
		h2, 
		h4, 
		li,	
		p {
			margin-left: 15%;
			width: 70%;
		}
	}
	#home {
		.first-word{
			font-size: 54px;
		}
		p {
			margin-left: 25%;
			width: 50%;
			position: absolute;
			font-size: 20px;
			top: 25vh;
		}
	}
	#about {

	}
	#projects {
		.grid{
				max-width: 536px;
			a {
				display: inline;
				margin: 0.5em;
			}

		}
	}
	.modal {			
		img {
			margin-top: 15px;
			margin-left: 15%;
			width: 70%;
		}
		.mod_content {
			margin-left: 15%;
			margin-right: 15%;
		}		
	}
}

@media screen and (min-width: 585px) and (max-width: 723px){
	.modal {
		
		img {
			margin-top: 15px;
			margin-left: 10%;
			width: 80%;
		}
		.mod_content {
			margin-left: 10%;
			margin-right: 10%;
		}
		
	}
}

@media screen and (min-width: 860px) {
	.modal {
		img {
			width: 400px;
		}
		.mod_content {
			p {
				width: 500px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	#home {
		p {
			margin-left: 30%;
			width: 40%;
		}
	}
	.modal {
		
		img {
			margin-top: 50px;
			float: left;
		}
		.mod_content {
			margin-top: 50px;
			padding-left: 50px;
			height: 80vh;
			p {
				width: 90%;
			}
		}
	}
	
}