@media screen and (max-width: 360px){
	header {
		.nav {
			ul {
				display: flex;
				flex-direction:column;
				float: right;
				margin-right: 7px;
				margin-top: 7px;
				text-align: center;
				li {
						padding: 3px;
					a{
					}
				}
				.about_butt {
					border-top: 2px solid #999;
					border-bottom: 2px solid #999;
					border-left: 0;
					border-right: 0;
				}
			}
		}
	}
}
@media screen and (min-width: 724px){
	.content {
		h2, 
		h4, 
		li,	
		p {
			margin-left: 15%;
			width: 70%;
		}
	}
	#home {
		.first-word{
			font-size: 54px;
		}
		p {
			margin-left: 25%;
			width: 50%;
			position: absolute;
			font-size: 20px;
			top: 25vh;
		}
	}
	#about {
		.cv-link{
			margin-left: 15%;
		}
		p {
			font-size: 20px;
		}
	}
	#projects {
		.grid{
				max-width: 536px;
			a {
				display: inline;
				margin: 0.5em;
			}

		}
	}
	.modal {			
		img {
			margin-top: 15px;
			margin-left: 15%;
			width: 70%;
		}
		.mod_content {
			margin-left: 15%;
			margin-right: 15%;
		}		
	}
}

@media screen and (min-width: 585px) and (max-width: 723px){
	.modal {
		
		img {
			margin-top: 15px;
			margin-left: 10%;
			width: 80%;
		}
		.mod_content {
			margin-left: 10%;
			margin-right: 10%;
		}
		
	}
}

@media screen and (min-width: 860px) {
	#about {
		p {
			width: 600px;
		}
	}
	.modal {
		img {
			width: 400px;
		}
		.mod_content {
			p {
				width: 500px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	#home {
		p {
			margin-left: 30%;
			width: 40%;
		}
	}
	.modal {
		
		img {
			margin-top: 50px;
			float: left;
		}
		.mod_content {
			margin-top: 50px;
			padding-left: 50px;
			height: 80vh;
			p {
				width: 90%;
			}
		}
	}
	
}