body, .content p {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  height: 100px;
  position: fixed;
  background: #FFF;
  width: 100%;
  z-index: 2000;
}

main {
  position: absolute;
  top: 100px;
  width: 100%;
  background: #F2F2F2;
}

footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

/*Stops the blue highlight from appearing when clicking on link*/
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo img {
  position: fixed;
  width: 80px;
  left: 10px;
  top: 10px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.logo img:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav ul li {
  text-decoration: none;
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  padding: 0.25em 1em 0.25em 1em;
}
.nav ul li a :hover {
  background-color: #D23634;
}
.nav ul .about_butt {
  border-left: 2px solid #999;
  border-right: 2px solid #999;
}

.content {
  top: 0;
  min-height: 90vh;
  position: relative;
  padding-bottom: 1em;
}
.content h2 {
  margin-left: 10%;
  padding-top: 2em;
  margin-bottom: 2em;
}
.content h4, .content li {
  margin-left: 10%;
}
.content p {
  display: block;
  font-size: 16px;
  margin-left: 10%;
  width: 80%;
  font-weight: 300;
}

#home {
  background: url(../img/footer_lodyas.png);
}
#home .first-word {
  font-size: 48px;
}
#home a {
  text-decoration: none;
  color: #fff;
}
#home hr {
  width: 300px;
  height: 1px;
  background-color: #fff;
}
#home .cta {
  background-color: #D23634;
  padding: 0.5em 1em;
}
#home p {
  color: #fff;
  line-height: 2em;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  position: absolute;
  border-top: 1px solid;
  border-bottom: 1px solid;
  top: 20vh;
}

#projects {
  background: #DEDEDE;
  padding-bottom: 4em;
}
#projects h2, #projects h4 {
  color: rgba(0, 0, 0, 0.7);
}
#projects .grid {
  width: 80%;
  margin: 0 auto;
}
#projects .grid a {
  display: block;
  margin: 0 auto;
  width: 250px;
  margin-bottom: 0.5em;
}
#projects .grid img {
  height: auto;
  width: 250px;
  margin-bottom: 0.5em;
}

#about {
  background: #45494C;
  padding-bottom: 4em;
}
#about h2, #about h4 {
  color: rgba(255, 255, 255, 0.7);
}
#about p {
  color: #fff;
  font-weight: 300;
  text-align: left;
  margin-bottom: 2em;
}
#about ul {
  color: #fff;
  font-weight: 300;
}

#contact {
  background: #D23634;
}
#contact h2 {
  color: rgba(255, 255, 255, 0.7);
}
#contact p {
  color: #fff;
  font-weight: 300;
}
#contact ul {
  font-weight: 300;
}

.modal {
  top: 0;
  height: 100vh;
  position: fixed;
  padding-bottom: 1em;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 6000;
  display: none;
  /*==========CUSTOM SCROLLBAR=========*/
}
.modal .exit {
  position: fixed;
  margin-top: 10px;
  margin-bottom: 20px;
  right: 10px;
  width: 30px;
}
.modal img {
  width: 100%;
}
.modal .mod_content {
  height: 50vh;
  overflow: auto;
  margin-left: 10%;
}
.modal h2 {
  padding-top: 2em;
}
.modal h3 {
  padding-top: 1em;
  padding-bottom: 1.5em;
  color: #DEDEDE;
}
.modal p {
  display: block;
  font-size: 16px;
  width: 90%;
  color: #DEDEDE;
  font-weight: 300;
  margin-right: 10%;
}
.modal .skillbars {
  display: flex;
  flex-direction: row;
}
.modal .skillbars .skill_name {
  display: block;
  border-radius: 2px 0 0 2px;
  width: 120px;
  margin-bottom: 2em;
  background: #3F403E;
  padding: 10px 10px 0 0;
  height: 25px;
  font-size: 10px;
  font-weight: 400;
  color: #DEDEDE;
  text-align: right;
}
.modal .skillbars .bars {
  display: block;
  width: 0;
  height: 35px;
  border-radius: 0 2px 2px 0;
}
.modal .skillbars .bar1 {
  background-color: #3F8ABC;
}
.modal .skillbars .bar2 {
  background-color: #3F8ABC;
}
.modal .skillbars .bar3 {
  background-color: #3F8ABC;
}
.modal .skillbars .bar4 {
  background-color: #3F8ABC;
}
.modal .skillbars .bar5 {
  background-color: #325059;
}
.modal .skillbars .bar6 {
  background-color: #325059;
}
.modal .skillbars .bar7 {
  background-color: #325059;
}
.modal .skillbars .bar8 {
  background-color: #325059;
}
.modal .skillbars .bar9 {
  background-color: #8B5538;
}
.modal .skillbars .bar10 {
  background-color: #8B5538;
}
.modal .skillbars .bar11 {
  background-color: #8B5538;
}
.modal .skillbars .bar12 {
  background-color: #8B5538;
}
.modal .skillbars .bar13 {
  background-color: #E9E9E9;
}
.modal .skillbars .bar14 {
  background-color: #E9E9E9;
}
.modal .skillbars .bar15 {
  background-color: #E9E9E9;
}
.modal .skillbars .bar16 {
  background-color: #E9E9E9;
}
.modal .custom_scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.modal .custom_scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 5px;
}
.modal .custom_scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 6px;
}
.modal .custom_scrollbar::-webkit-scrollbar-thumb:vertical:hover {
  background: #fff;
}

footer a {
  margin-top: 1em;
  margin-left: 10vw;
  display: block;
  width: 100px;
}

@media screen and (min-width: 724px) {
  .content h2,
  .content h4,
  .content li,
  .content p {
    margin-left: 15%;
    width: 70%;
  }

  #home .first-word {
    font-size: 54px;
  }
  #home p {
    margin-left: 25%;
    width: 50%;
    position: absolute;
    font-size: 20px;
    top: 25vh;
  }

  #projects .grid {
    max-width: 536px;
  }
  #projects .grid a {
    display: inline;
    margin: 0.5em;
  }

  .modal img {
    margin-top: 15px;
    margin-left: 15%;
    width: 70%;
  }
  .modal .mod_content {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (min-width: 585px) and (max-width: 723px) {
  .modal img {
    margin-top: 15px;
    margin-left: 10%;
    width: 80%;
  }
  .modal .mod_content {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (min-width: 860px) {
  .modal img {
    width: 400px;
  }
  .modal .mod_content p {
    width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  #home p {
    margin-left: 30%;
    width: 40%;
  }

  .modal img {
    margin-top: 50px;
    float: left;
  }
  .modal .mod_content {
    margin-top: 50px;
    padding-left: 50px;
    height: 80vh;
  }
  .modal .mod_content p {
    width: 90%;
  }
}
