body, .content p {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  height: 100px;
  position: fixed;
  background: #FFF;
  width: 100%;
  z-index: 2000;
}

main {
  position: absolute;
  top: 100px;
  width: 100%;
  background: #F2F2F2;
}

footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

/*Stops the blue highlight from appearing when clicking on link*/
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo img {
  position: fixed;
  width: 80px;
  left: 10px;
  top: 10px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.logo img:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav ul li {
  text-decoration: none;
  list-style: none;
  padding: 0.5em 1em 0.5em 1em;
}
.nav ul li a {
  text-decoration: none;
  color: #000;
}
.nav ul .about_butt {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.content {
  top: 0;
  min-height: 85vh;
  position: relative;
  padding-bottom: 1em;
}
.content h2 {
  margin-left: 10%;
  padding-top: 2em;
  margin-bottom: 2em;
}
.content h4, .content li {
  margin-left: 10%;
}
.content p {
  display: block;
  font-size: 16px;
  margin-left: 10%;
  width: 80%;
  font-weight: 300;
}

#home {
  background: url(../img/footer_lodyas.png);
}
#home .first-word {
  font-size: 48px;
}
#home a {
  text-decoration: none;
  color: #fff;
}
#home hr {
  width: 300px;
  height: 1px;
  background-color: #fff;
}
#home .cta {
  background-color: #D23634;
  padding: 0.5em 1em;
}
#home p {
  color: #fff;
  line-height: 2em;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

#projects {
  background: #DEDEDE;
  padding-bottom: 4em;
}
#projects h2, #projects h4 {
  color: rgba(0, 0, 0, 0.7);
}
#projects .grid {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#projects .grid .set {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#projects .grid .set a {
  width: 300px;
  margin-top: 2em;
}
#projects .grid .set img {
  height: auto;
  width: 300px;
}
#projects .grid .set .bar1 {
  width: 0;
  height: 35px;
  background-color: #D20000;
}
#projects .bars {
  display: block;
  margin-left: 5em;
}
#projects .skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}
#projects .skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#projects .skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#projects .skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#projects .skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

#about {
  background: #45494C;
  padding-bottom: 4em;
}
#about h2, #about h4 {
  color: rgba(255, 255, 255, 0.7);
}
#about p {
  color: #fff;
  font-weight: 300;
  text-align: left;
  margin-bottom: 2em;
}
#about ul {
  color: #fff;
  font-weight: 300;
}

#contact {
  background: #D23634;
}
#contact h2 {
  color: rgba(255, 255, 255, 0.7);
}
#contact p {
  color: #fff;
  font-weight: 300;
}
#contact ul {
  font-weight: 300;
}

.modal {
  top: 0;
  height: 100vh;
  position: fixed;
  padding-bottom: 1em;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 6000;
}
.modal .exit {
  position: fixed;
  margin-top: 10px;
  margin-bottom: 20px;
  right: 10px;
  width: 30px;
}
.modal img {
  width: 100%;
}
.modal h2, .modal h3 {
  margin-left: 10%;
  padding-top: 2em;
}
.modal h4, .modal li {
  margin-left: 10%;
}
.modal p {
  display: block;
  font-size: 16px;
  margin-left: 10%;
  width: 80%;
}

#earth_hour, #inception, #coca-cola, #air_jordan {
  display: none;
}

footer {
  background-color: rgba(210, 210, 210, 0.4);
}

footer a {
  margin-top: 1em;
  margin-left: 10vw;
  display: block;
  width: 100px;
}
